@media (min-width: 768px) {
	.border-md-right {
		border-right: 1px solid #dee2e6 !important;
	}
}

label {
	font-weight: bold;
}

.form-check label {
	font-weight: normal;
}

body {
	padding-bottom: 100px;
}

.nrf-logo {
	float: left;
	background-image: url(/images/nordic.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	display: block;
	width: 3.4em;
	height: 3em;
	margin-right: .4em;
	flex-shrink: 0;
}

.logo-bar {
	display: flex;
	align-items: center;
}

/* Table */

.status-table {
    width: 100%;
}
.status-table th {
    font-weight: normal;
    width: 50%;
}
.status-table td {
    padding: 5px;
}
.status-table td.row {
	width: auto;
}

/* Cards */
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16);
}

/* buttons */
.btn.disabled{
    cursor: not-allowed;
}

.btn-success{
    background-color: #249DD6 !important;
    border-color: #249DD6 !important;
}
.btn-success:hover{
    background-color: #50B5E6 !important;
    border-color: #50B5E6 !important;
}

.btn-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(80,181,230, .5) !important;

}

.text-teal {
    color: #249DD6 !important;
}

/* footer */
footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

footer.bg-teal {
    color: #fff !important;
    background-color: #249DD6 !important;
}

.fade.in {
    opacity: 1 !important;
    padding-right: 0px !important;
  }
  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .modal-backdrop.in {
    opacity: 0.5 !important;
  }
