@media (min-width: 768px) {
	.border-md-right {
		border-right: 1px solid #dee2e6 !important;
	}
}

footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

body {
	padding-bottom: 100px;
}

/* Table */

.status-table {
    width: 100%;
}
.status-table th {
    font-weight: normal;
    width: 50%;
}
.status-table td {
    padding: 5px;
}
.status-table td.row {
	width: auto;
}

/* Cards */
.w3-card-4, .w3-card{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16);
}
/* Smaller right-card. Also smaller "how often should data be published?"
.w3-twothird{
    width: 60%;

}
*/


/* align "Status" and "Next publish" */
.flex-box{
    display: flex;
    flex-wrap: wrap;
}
.grouping{
    display: flex;
    flex-wrap: wrap;
}

/* buttons */
.btn.disabled{
    cursor: not-allowed;
}

.btn-success{
    background-color: #249DD6 !important;
    border-color: #249DD6 !important;
}
.btn-success:hover{
    background-color: #50B5E6 !important;
    border-color: #50B5E6 !important;
}

.btn-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(80,181,230, .5) !important;

}


/* footer */
.w3-text-teal, .w3-hover-text-teal:hover{
    color: #249DD6 !important;
}
.w3-teal, .w3-hover-teal:hover {
    background-color: #249DD6 !important;
    width: 100%;
    height: 100px;
}
